<form action="/" method="post">
    <!-- text area for code input element -->
    <div class="fullPage">
        <div>


                <textarea readonly id="enteredCode"
                          style="width:21%; height:70%; font-size:100%;
              position: absolute; left: 2%; top:9%; " placeholder="Kodo istorija..."></textarea>


                <button type="button" id="runButton"
                        style="font-size:90%; width:7%; height: 4%;
                position: absolute; bottom:20.5%; left: 16.3%; resize:none;" onclick="getText()" >VYKDYTI
                    <script type="text/javascript" src="./javascripts/ajlogo.js" ></script>
                    <script type="text/javascript" src="./javascripts/runButton.js">
                    </script>
                    <!--<script type="text/javascript" src="./javascripts/runButton.js"></script>-->
                </button>

                <!-- History box for the entered commands -->
                <textArea id="inputCode"
                          style="width:21%; height:15%; font-size:100%;
              position: absolute; left: 2%; bottom:4%; resize:none" placeholder="Rašykite savo kodą..."></textArea>
                <script type="text/javascript">

                    document.getElementById('runButton').addEventListener("mousedown", function() {
                        getTextFromHistory();
                    });


                    document.getElementById("enteredCode").addEventListener("keydown", function(e) {
                        if (e.keyCode == 13) { // on press vykdys pasirinkta kodo dali (arba paspaudus run mygtuka)
                            console.log(window.getSelection().toString()); // gauna pasirinkta teksta ir kai paspaudi enter ji vykdo
                            getTextFromHistory();
                        }
                    }, false);


                    document.getElementById("inputCode").addEventListener("keydown", function(e) {
                        //if (!e) { var e = window.event; }

                        // Enter is pressed
                        if(e.shiftKey && e.keyCode == 13){
                            console.log('shift + enter pressed');

                        } else if (e.keyCode == 13) {
                            console.log('enter key is pressed');
                            getText();
                            document.getElementById('inputCode').value = "";
                            document.getElementById("inputCode").focus();

                            if(event.preventDefault) event.preventDefault();
                            return false;
                        }
                    }, false);
                </script>
            </div>




<!-- Slider

        <form>
            <input type="range" value="50" style="position:absolute; top:5px;"/>
        </form>
-->




        <!-- button element -->
        <button type="button" id="topButton"
                style="font-size:90%; width:21.35%; height: 4%;
                position: absolute; top:5%; left: 2%; resize:none" onclick="javascript:nullText()">Valyti istoriją</button>
                <script type="text/javascript">
                    function nullText() {
                        document.getElementById('enteredCode').value = "";



                    }
                </script>

    </div>

        <div style="position: absolute; right:50px; top:50px;" >

            <!-- UPLOAD IMAGES FOR CANVAS HERE -->
            <img id="turtle" width="0" height="0"
                 src="./images/turtle.png">

            <!-- CANVAS -->
            <canvas id="drawingCanvas" onresize="resize_canvas()"
                    style="border:1px solid white; background-color:white">

                <canvas id="imagingCanvas">
                <!-- canvas element for drawing (canvas rescale su js) -->
                <script type="text/javascript" src="./javascripts/resizeCanvas.js"></script>
                <script type="text/javascript" src="./javascripts/drawOnCanvas.js"></script>
                </canvas>
            </canvas>
        </div>
    </div>
</form>

