<form action="/" method="post">
    <!-- text area for code input element -->
    <div>
        <div>

            <div style="height:790px">
                <textarea readonly id="enteredCode" rows="30" cols="30"
                          style="width:19.9%; height:77%; font-size:100%;
              position: relative; left: 0px; top:30px; resize:none" placeholder="Kodo istorija..."></textarea>


                <button type="button" id="runButton"
                        style="font-size:90%; width:80px; height: 30px;
                position: relative; bottom:-20px; left: -85px; resize:none;" onclick="getText()" >VYKDYTI
                    <script type="text/javascript" src="./javascripts/ajlogo.js" ></script>
                    <script type="text/javascript" src="./javascripts/runButton.js">
                    </script>
                    <!--<script type="text/javascript" src="./javascripts/runButton.js"></script>-->
                </button>

                <!-- History box for the entered commands -->
                <textArea id="inputCode"
                          style="width:20%; height:15%; font-size:100%;
              position: absolute; left: 50px; bottom:45px; resize:none" placeholder="Rašykite savo kodą..."></textArea>
                <script type="text/javascript">

                    document.getElementById('runButton').addEventListener("mousedown", function() {
                        getTextFromHistory();
                    });


                    document.getElementById("enteredCode").addEventListener("keydown", function(e) {
                        if (e.keyCode == 13) { // on press vykdys pasirinkta kodo dali (arba paspaudus run mygtuka)
                            console.log(window.getSelection().toString()); // gauna pasirinkta teksta ir kai paspaudi enter ji vykdo
                            getTextFromHistory();
                        }
                    }, false);


                    document.getElementById("inputCode").addEventListener("keydown", function(e) {
                        //if (!e) { var e = window.event; }

                        // Enter is pressed
                        if(e.shiftKey && e.keyCode == 13){
                            console.log('shift + enter pressed');

                        } else if (e.keyCode == 13) {
                            console.log('enter key is pressed');
                            //TODO: execute submitted command
                            //TODO: put text to the history field
                            //TODO: clear the input textarea




                            getText();
                            document.getElementById('inputCode').value = "";
                            document.getElementById("inputCode").focus();

                            if(event.preventDefault) event.preventDefault();
                            return false;
                        }
                    }, false);
                </script>
            </div>





        <!-- button element -->
        <button type="button" id="topButton"
                style="font-size:100%; width:20.3%; height: 30px;
                position: absolute; top:50px; left: 50px; resize:none" onclick="javascript:nullText()">Valyti istoriją</button>
                <script type="text/javascript">
                    function nullText() {
                        document.getElementById('enteredCode').value = "";
                    }
                </script>

    </div>

        <div style="position: absolute; right:50px; top:50px;" >

            <!-- UPLOAD IMAGES FOR CANVAS HERE -->
            <img id="turtle" width="0" height="0"
                 src="./images/turtle.png">

            <!-- CANVAS -->
            <canvas id="drawingCanvas" onresize="resize_canvas()"
                    style="border:1px solid white; background-color:white">

                <canvas id="imagingCanvas">
                <!-- canvas element for drawing (canvas rescale su js) -->
                <script type="text/javascript" src="./javascripts/resizeCanvas.js"></script>
                <script type="text/javascript" src="./javascripts/drawOnCanvas.js"></script>

                </canvas>
            </canvas>
        </div></div>
</form>

