body {
  padding: 50px;
    background-color: #eeeeee;
  font: 16px "Lucida Grande", Helvetica, Arial, sans-serif;
    width: 100%;
    height: 100%;
    margin: 0px;
}
button {
    border: 1px;
    color:white;
    background-color:seagreen;
}

.cover {
    width: 260px;
    object-fit: cover;
}

a {
  color: #00B7FF;
}

textarea{
    outline: none;
    height: 100%;
}
button {
    outline-color: grey;
}






form{
    width:260px;
    height:260px;
    margin:0 auto;
}

input[type="range"]{
    -webkit-appearance:none;
    width:160px;
    height:20px;
    margin:10px 50px;

    border-radius: 50px;
    background: linear-gradient(to right, #000000 0%, #ff0000 100%);
    background-size:150px 10px;
    background-position:center;
    background-repeat:no-repeat;
    
    overflow:hidden;
    outline: none;
}

/* Rounded sliders */




p{
    width:100%;
    text-align:center;
    color:white;
    font-family: 'HelveticaNeue-UltraLight', 'Helvetica Neue UltraLight', Roboto, Arial, Sans-serif;
    font-size:32px;
    margin-top:30px;
}
